@charset "UTF-8";
:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

 @media screen and (min-width: 768px) and (max-width: 1000px){
    body{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section{
        width: 80vw;
        height: 365px;
        border-radius: 20px;
        max-width: 800px;
        font-size: 1.2em;
    }

    #img{
        float: left;
        width: 38%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }
 }

@media screen and (min-width: 1000px) {
    body{
        background-image: linear-gradient(to top, var(--verde), var(--lilas));
    }

    section{
        width: 950px;
        height: 330px;
    }

    #img{
        float: right;
        width: 47%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
    }
    
    #formulario{
        float: right;
        width: 50%;
        font-size: 1.2em;
    }
}