@charset "UTF-8";

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
}


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #5F2C82;
}

main {
    width: 100vw;
    height: 100vh;
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 280px;
    height: 540px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.445);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#img {
    display: block;
    width: 280px;
    height: 220px;
    background: url(../img/pexels-karola-g-4862957.jpg) no-repeat center center;
    border-radius: 20px 20px 0px 0px;
}

form{
    display: block;
    padding: 10px;
    text-align: center;
}

#send {
    background-color: var(--verde);
    border: none;
    color: white;
}

#send:hover{
    background-color: #2e615e;
}

#esq {
    border: 1px solid var(--verde);
    color:  #3d7c78;
}

#esq:hover{
    background-color: #51b4adc5;
}

#send,#esq {
    border-radius: 10px;
    display: block;
    width: 250px;
    height: 40px;
    margin: auto;
    font: 400 1.2em arial, helvetica, sans-serif;
    margin-top: 10px;
}
