@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
   background-color: #5F2C82;
}

#img{
    width: 280px;
    height: 220px;
    background: url(../img/pexels-karola-g-4862957.jpg);
    border-radius: 20px 20px 0px 0px;

}

main{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 280px;
    height: 540px;
    border-radius: 30px;
}

h1{
    text-align: center;
    margin: 10px 0px;
}

#p{
    text-align: justify;
    margin: 0px 15px;
}